<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893936361364-6sjth4sklisncuvoppn91qf4degkl93v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893936361364-6sjth4sklisncuvoppn91qf4degkl93v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>893936361364-hf41emhckrfappabff4g0ma278nkcbl7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXi3UjkMe8csMp7oD3_s-gmePg_K3zX0I</string>
	<key>GCM_SENDER_ID</key>
	<string>893936361364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lingui</string>
	<key>PROJECT_ID</key>
	<string>lingui-5c589</string>
	<key>STORAGE_BUCKET</key>
	<string>lingui-5c589.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893936361364:ios:2af1c9b01a50bc2d2cf981</string>
</dict>
</plist>